.fromContainer{
    margin-left: 10%;
    margin-right: 10%;
    border: 3px solid white;
    border-radius: 30px;
    background-color: white;
}
.topicFrom{
    color : #004f99;
    font-size: 20px;
    text-align: center;
}
.uploadTopicFrom{
    text-align: left;
    color: black;
}
.adviceTopic{
    text-align: left;
    color: red;
    font-size: 16px;
}
.advice{
    color: black;
    font-size: 14px;
}
// .uploadFileContainer{
//     border: 15px solid #f0f2f5;
//     border-radius: 30px;
// }
.uploadForm{
    background: white;
    border: 10px solid #f0f2f5;
    border-radius: 10px;
}
.uploadTopic{
    color : #004f99;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
}
.buttonMargin{
    text-align: right;
}
.modal {
    position: fixed;
    top: unset;
    left: unset;
    z-index: 1050;
    display: none;
    width: 100%;
    height: unset;
    overflow: hidden;
    outline: 0px;
  }
  .ui.modal > .content {
    padding: 3rem;
    line-height: 20px;
  }
  .ui.modal {
    margin: 0;
  }