.fromLoanCondition{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border: 20px solid white;
    border-radius: 30px;
    background-color: white;
}
.financialAmountArea{
    text-align: center;
    
}
.Topic{
    text-align: center;
    color : #004f99;
    font-size: 20px;
}
.editComment{
    color : red;
}
.subTopic{
    font-weight: normal;
}
.subTopic_2{
    font-weight: Bold;
    font-size: 14px;
}